@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); 

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none !important;
    outline: none !important;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,
address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,
tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,
tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,
header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,

video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


/*---------*/
/*---ALL---*/
/*---------*/

.limit-wrapper {
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
}

html {
    scroll-behavior: smooth;
}

#content {
    margin-top: 143px;
}

.block-btn a {
    text-decoration: none;
}

.block-btn .block-button {
    display: flex;
    max-width: 250px;
    width: 100%;
}

.block-btn .block-button .block-btn-arrow {
    padding: 20px 20px;
    border-right: 1px solid #4D7493;
    margin-right: 30px;
    background: linear-gradient(to right, #4D7493 50%, transparent 50%);
    background-size: 300% 300%;
    background-position: right;
    transition: 0.3s ease-in-out;
    background-color: transparent;
}

.block-btn .block-button:hover .block-btn-arrow {
    background-position: left;
}

.block-btn .block-button .block-btn-arrow svg polygon {
    transition: 0.3s ease-in-out;
}

.block-btn .block-button:hover .block-btn-arrow svg polygon {
    fill: #ffffff;
    transition: 0.3s ease-in-out;
}

.block-btn .block-button .block-btn-lead {
    align-items: center;
    display: flex;
}

.block-btn .block-button .block-btn-lead span {
    color: #4D7493;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

/********/
/*HEADER*/
/********/
header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: transparent;
}

header:hover {
    background-color: #ffffff;
    transition: 0.3s ease-in-out;
}

header.fixed {
    background-color: white;
    transition: 0.3s ease-in-out;
}

#block-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px 0 40px;
    transition: padding .3s ease-in-out;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

#block-header .block-header-left {
    width: 100%;
    max-width: 145px;
}

#block-header .block-header-left .block-header-left-text {
    text-align: center;
    font-size: 36px;
}

#block-header .block-header-left .block-header-left-text a {
    text-decoration: none;
    color: #ffffff;
}

header.fixed #block-header .block-header-left .block-header-left-text a {
    color: #000000;
}

header:hover #block-header .block-header-left .block-header-left-text a {
    color: #000000;
}

#block-header .block-header-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 145px);
    padding: 0px 20px;
}

#block-header .block-header-middle .main-menu {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

#block-header .block-header-middle .main-menu .button-close-menu {
    display: none;
}

#block-header .block-header-middle ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#block-header .block-header-middle ul li {
    padding: 70px 20px 50px 20px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

header.fixed #block-header .block-header-middle ul li {
    padding: 35px 20px 25px 20px;
}

#block-header .block-header-middle ul li:hover {
    border-bottom: 2px solid #4D7493;
}

#block-header .block-header-middle ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-bottom: 40px;
}

header.fixed  #block-header .block-header-middle ul li a{
    color: #000000;
}

header:hover #block-header .block-header-middle ul li a {
    color: #000000;
    transition: 0.3s ease-in-out;
}

#block-header .block-header-middle ul li:hover a {
    color: #4D7493 !important;
}

#block-header .block-header-right .block-burguer-menu {
    display: none;
}

/*********************/
/*HEADER DEFAULT PAGE*/
/*********************/
header.default-page {
    background-color: #ffffff;
    border-bottom: 1px solid #4D7493;
}

header.default-page #block-header .block-header-left .block-header-left-text a {
    color: #000000;
}

header.default-page #block-header .block-header-middle ul li a {
    color: #000000;
}

/************/
/*FRONT PAGE*/
/************/
#block-slider .block-slider-back {
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#block-slider .block-slider-back::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%);
}

#block-slider .block-slider-back .limit-wrapper {
    height: 100%;
}

#block-slider .block-slider-back .limit-wrapper .block-slider-body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#block-slider .block-slider-back .limit-wrapper .block-slider-body .block-slider-body-text {
    color: #ffffff;
}

#block-slider .block-slider-back .limit-wrapper .block-slider-body .block-slider-body-text  span{
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
}

#block-slider .block-slider-back .limit-wrapper .block-slider-body .block-slider-body-button {
    padding-top: 30px;
    display: flex;
}

#block-slider .block-slider-back .limit-wrapper .block-slider-body .block-slider-body-button a {
    border: 1px solid #ffffff;
    display: inline-block;
    padding: 20px 30px;
    color: #ffffff;
    text-decoration: none;
    background: linear-gradient(to right, #4D7493 50%, transparent 50%);
    background-size: 300% 300%;
    background-position: right;
    transition: 0.3s ease-in-out;
    background-color: transparent;
}

#block-slider .block-slider-back .limit-wrapper .block-slider-body .block-slider-body-button a:hover {
    background-position: left;
    border: 1px solid #4D7493;
}

#block-about-me {
    padding: 80px 0px 40px 0;
    background-color: #2E3E58;
}

#block-about-me .limit-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#block-about-me .block-left {
    max-width: 700px;
    width: 100%;
}

#block-about-me .block-left .block-header .block-header-title h1 {
    font-size: 46px;
    font-family: 'Lato', sans-serif;
    font-weight: 700px;
    line-height: 60px;
    color: #ffffff;
}

#block-about-me .block-left .block-body {
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
}

#block-about-me .block-right .block-body .block-body-img img {
    height: 350px;
    border-radius: 50%;
}

#block-journey {
    padding: 100px 0 80px 0;
}

#block-journey .block-header .block-header-title h1 {
    font-size: 46px;
    font-family: 'Lato', sans-serif;
    font-weight: 700px;
    line-height: 60px;
    color: #4D7493;
    text-align: center;
}

#block-journey .block-body {
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;  
    padding: 40px;
    align-items: center;
}

#block-journey .block-body  .block-timeline {
    background-color: #4D7493;
    position: relative;
    display: flex;
    width: 30%;
    margin-right: 20px;
    flex-direction: column;
    padding: 40px 20px 120px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#block-journey .block-body .block-timeline .block-timeline-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#block-journey .block-body .block-timeline .block-timeline-title h3 {
    font-size: 30px;
    padding-bottom: 10px;
    color: #ffffff;
    text-align: center;
}

#block-journey .block-body .block-timeline .block-timeline-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#block-journey .block-body .block-timeline .block-timeline-icon svg {
    height: 100px;
    width: auto;
}

#block-journey .block-body .block-timeline .block-timeline-btn {
    display: flex;
    justify-content: center;
}

#block-journey .block-body .block-timeline .block-timeline-btn a {
    position: absolute;
    bottom: 20px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 20px 25px;
    background: linear-gradient(to right, #ffffff 50%, transparent 50%);
    background-size: 300% 300%;
    background-position: right;
    transition: 0.3s ease-in-out;
    background-color: transparent;
}

#block-journey .block-body .block-timeline .block-timeline-btn a:hover {
    background-position: left;
    color: #4D7493;
}

/***************/   
/*PAGE ACADEMIC*/
/***************/
#block-academic .limit-wrapper {
    padding: 70px 0 80px 0;
}

#block-academic .block-academic-top .block-top-lead {
    text-align: center;
    padding-bottom: 60px;
}

#block-academic .block-academic-top .block-top-lead h1 {
    font-size: 46px;
    font-family: 'Lato', sans-serif;
    font-weight: 700px;
    color: #4D7493;
}

#block-academic .block-academic-lead {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

#block-academic .block-academic-lead .block-header {
    margin-right: 40px;
    align-content: center;
    width: 100%;
    max-width: 150px;
}

#block-academic .block-academic-lead {
    margin: 0 20px;
}

#block-academic .block-academic-lead .block-header .block-header-title h2 {
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    font-weight: 700px;
    line-height: 60px;
    text-align: center;
}

#block-academic .block-academic-lead .block-header .block-header-subtitle {
    text-align: center;
}

#block-academic .block-academic-lead .block-header .block-header-subtitle span {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 700px;
    text-align: center;
}

#block-academic .block-academic-lead .block-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#block-academic .block-academic-lead .block-body .block-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

#block-academic .block-academic-lead .block-body .block-left .block-left-lead span{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

#block-academic .block-academic-lead .block-body .block-right .block-right-img img {
    height: 250px;
    width: 350px;
    border-radius: 10px;
}

#block-stage {
    padding: 100px 0 80px 0;
}

#block-stage .block-stage-header .block-header-title {
    text-align: center;
    padding-bottom: 60px;
}

#block-stage .block-stage-header .block-header-title h1 {
    font-size: 46px;
    font-family: 'Lato', sans-serif;
    font-weight: 700px;
    line-height: 60px;
    color: #4D7493;
    text-align: center;
}

#block-stage .block-stage-lead {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

#block-stage .block-stage-lead .block-header {
    margin-right: 40px;
    align-content: center;
    width: 100%;
    max-width: 150px;
}

#block-stage .block-stage-lead .block-header .block-header-title h2 {
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    font-weight: 700px;
    line-height: 60px;
    text-align: center;
}

#block-stage .block-stage-lead .block-header .block-header-subtitle {
    text-align: center;
}

#block-stage .block-stage-lead .block-header .block-header-subtitle span {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 700px;
    text-align: center;
}

#block-stage .block-stage-lead .block-body {
    display: flex;
    justify-content: space-between;
}

#block-stage .block-stage-lead .block-body .block-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

#block-stage .block-stage-lead .block-body .block-left .block-left-lead span {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

#block-stage .block-stage-lead .block-body .block-left .block-left-subtitle {
    text-align: center;
}

#block-stage .block-stage-lead .block-left .block-left-subtitle span {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 700px;
    text-align: center;
}

#block-stage .block-stage-lead .block-body .block-right .block-right-img img {
    height: 250px;
    border-radius: 10px;
}

/************/
/*PAGE WORKS*/
/************/
#block-works .limit-wrapper {
    padding: 70px 0 80px 0;
}

#block-works .block-header .block-header-title {
    text-align: center;
    padding-bottom: 60px;
}

#block-works .block-header .block-header-title h1 {
    font-size: 46px;
    font-family: 'Lato', sans-serif;
    font-weight: 700px;
    color: #4D7493;
}

#block-works .block-body {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

#block-works .block-body .block-left {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
}

#block-works .block-body .block-left .block-left-title h2 {
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    font-weight: 700px;
    line-height: 60px;
    text-align: center;
}

#block-works .block-body .block-left .block-left-subtitle {
    text-align: center;
}

#block-works .block-body .block-left .block-left-subtitle span {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 700px;
    text-align: center;
}

#block-works .block-body .block-left .block-left-img {
    text-align: center;
    padding-top: 30px;
}

#block-works .block-body .block-left .block-left-img img {
    height: 250px;
    border-radius: 10px;
}

#block-works .block-body .block-right {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

#block-works .block-body .block-right .block-right-lead span {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

/*************/
/*PAGE SKILLS*/
/*************/
#block-skills .limit-wrapper {
    padding: 70px 0 80px 0;
}

#block-skills .block-header .block-header-title {
    text-align: center;
    padding-bottom: 60px;
}

#block-skills .block-header .block-header-title h1 {
    font-size: 46px;
    font-family: 'Lato', sans-serif;
    font-weight: 700px;
    color: #4D7493;
}

#block-skills .block-body {
    border: 1px solid #4D7493;
    padding: 20px 20px;
    width: 90%;
    margin: 0 auto;
}

#block-skills .block-body .block-body-title {
    padding-bottom: 30px;
    text-align: center;
}

#block-skills .block-body .block-body-title h2 {
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    font-weight: 700px;
    line-height: 60px;
    color: #4D7493;
}

#block-skills .block-body .block-body-imgs {
    padding-bottom: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#block-skills .block-body .block-body-imgs svg {
    margin-right: 20px;
}

/********/
/*FOOTER*/
/********/
#block-footer .block-top {
    background-color: #2E3E58;
    padding: 40px 40px;
    display: grid;
    justify-content: center;
}

#block-footer .block-top .block-top-header .block-top-title {
    color: #ffffff;
}

#block-footer .block-top .block-top-header .block-top-title h1 {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 700px;
    line-height: 60px;
}

#block-footer .block-top .block-top-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#block-footer .block-top .block-top-body .block-icons {
    padding-top: 30px;
    display: flex;
    gap: 10px;
}

#block-footer .block-bottom {
    background-color: #4D7493;
    padding: 40px 40px;
}

#block-footer .block-bottom .limit-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#block-footer .block-bottom .block-bottom-left span a {
    color: #ffffff;
    text-decoration: none;
}

#block-footer .block-bottom .block-bottom-left span a:hover {
    text-decoration: underline;
}

#block-footer .block-bottom .block-bottom-right span {
    color: #ffffff;
}